@tailwind base;
@tailwind components;
@tailwind utilities;

.font__stroke {
  -webkit-text-stroke: 2px currentColor;
  -webkit-text-fill-color: transparent;
}

.svg__position {
  align-self: center;
  position: relative;
  top: 4rem;
}

@keyframes arrow-down {
  from {
    transform: translateY(-70px);
  }
  to {
    transform: translateY(50px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .svg__animation {
    animation: arrow-down infinite 2s ease-in;
  }
}


/* @keyframes stamp-spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .letter__stamp {
    animation: stamp-spin infinite 2s linear;
  } 
} */
:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.bg-marble {
  background-color: rgb(0, 0, 0);
  background-image: url(http://www.zingerbugimages.com/backgrounds/indigo_textured_rock_seamless_pattern.jpg);
  background-position: top left;
  background-repeat: repeat;
  background-attachment: fixed;
}
/* .grid__layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  max-width: 1300px;
  padding: 1rem;
  min-height: 75vh;
  margin: 0px auto;
  grid-template-areas:
    "head__title head__title head__title head__title"
    "stamp sub__title sub__title sub__title";
}
.head__title {
  grid-area: head__title;
  max-width: 100%;
}
.stamp {
  grid-area: stamp;
  max-width: 100%;
}
.sub__title {
  grid-area: sub__title;
  max-width: 100%;
} */
